.__container {
    -webkit-animation: tiembla .3s;
}

@-webkit-keyframes tiembla {
    0% {
        -webkit-transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ( 10deg);
    }
}

.__btn:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.06);
}

.botones {
    overflow: hidden;
}

.__div-img {
    width: 80%;
    height: 45%;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 20%;
}

.div-img .__img {
    box-sizing: border-box;
    border: 3px solid white;
}

.__div-img .__img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .__div-img .__img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}