.wrapper {
    border: 0.01em;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

tr th {
    box-sizing: border-box;
    padding: 1em 0.2em;
    font-family: 'Press Start 2P';
    font-size: 12px;
    text-align: center;
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td,
th {
    border-bottom: solid 1px black;
    padding: 0;
    text-align: left;
}

tbody th {
    background-color: #2ea879;
}

tbody tr:nth-child(2n-1) {
    background-color: #FFFF84;
    transition: all .125s ease-in-out;
}

tbody tr:hover {
    background-color: #98FB98;
}

td.rank {
    border-bottom: solid 1px black;
    padding: 1em 0;
    font-size: 10px;
    font-family: 'Press Start 2P';
    text-transform: capitalize;
    text-align: center;
}

td.team {
    border-bottom: solid 1px black;
    padding: 1em 0;
    font-size: 10px;
    font-family: 'Press Start 2P';
    text-align: center;
}

td.points {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 1em 0;
    font-size: 10px;
    font-family: 'Press Start 2P';
    text-align: center;
}

td.up-down {
    padding: 1em 0;
    font-size: 10px;
    font-family: 'Press Start 2P';
    text-align: center;
}

th.img {
    margin: 0 auto;
}

#letraBlanca {
    background-color: #30B77E;
    color: white;
}