.wrapper {
    border: 0.01em;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 100%;
    overflow: hidden;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
}

tr th {
    box-sizing: border-box;
    padding: 1em 0.2em;
    font-family: 'Press Start 2P';
    font-size: 15px;
    text-align: center;
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td,
th {
    padding: 0;
    text-align: center;
}

tr td h6 {
    font-weight: 700;
}

tr td a .btn .badge-pill {
    font-family: 'Press Start 2P'!important;
}

tbody th {
    background-color: #2ea879;
}

tbody tr {
    border-radius: 30px!important;
}

.editar:hover {
    background-color: #007bff;
}

td.item {
    background-color: #212529;
    font-weight: bold;
    color: #fff;
    padding: 1em 0;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}

td.up-down {
    padding: 1em 0;
    font-size: 10px;
    font-family: 'Press Start 2P';
    text-align: center;
}

#titulo-menu {
    text-align: center;
    background-color: #30B77E;
    color: white;
}